@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Teko:wght@300..700&display=swap');

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: #000000cb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.twister {
  width: 270px;
  height: 270px;
  background: #000000;
  box-shadow: 0 0 10px ;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-aceptar {
  position: relative;
  font-family: 'Teko';
  font-size: 1.2rem;
  background: rgb(51, 17, 90);
  color: white;
  border: none;
  box-shadow: 2px 2px 0 #f2f;
  transition: all 1s;
}

#btn-aceptar:active {
  background-color: black;
  box-shadow: none;
}

#btn-aceptar:disabled {
  background: #3b3b3b;
  color: rgb(117, 6, 6);
  border: 1px solid rgb(82, 19, 19);
  box-shadow: none;
}

.message {
  width: 70%;
  height: 10%;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.name {
  position: absolute;
  color: #6e7377;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
}

.name #s {
  font-size: 2.3rem;
  font-weight: 600;
  transform: scaleX(10);
}

.name #i {
  font-size: 2.2rem;
  font-weight: 650;
}

.name span {
  font-size: 3rem;
  letter-spacing: -2px;
}

.level {
  position: absolute;
  top: 55%;
  color: red;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}

.container-btns {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btns-up {
  display: flex;
}

.btns-down {
  display: flex;
}

.btn-twister {
  position: relative;
  /* filter: drop-shadow(0 0 10px purple); */
  cursor: pointer;
  transition: all .3s;
}


#btn-twister1 {
  top: 5px;
  left: -1px;
}

/* #btn-twister2 {
  
}

#btn-twister3 {
  
}

#btn-twister4 {
  
} */
