@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Teko:wght@300..700&display=swap');

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.twister {
  width: 270px;
  height: 270px;
  background: #222;
  box-shadow: 0 0 10px ;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  position: absolute;
  color: #6e7377;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
}

.name #s {
  font-size: 2.3rem;
  font-weight: 600;
  transform: scaleX(10);
}

.name #i {
  font-size: 2.2rem;
  font-weight: 650;
}

.name span {
  font-size: 3rem;
  letter-spacing: -2px;
}

.level {
  position: absolute;
  top: 55%;
  color: red;
  font-size: 1.5rem;
}

.container-btns {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btns-up {
  display: flex;
}

.btns-down {
  display: flex;
}

.btn-twister {
  position: relative;
  filter: drop-shadow(0 0 10px purple);
  cursor: pointer;
  transition: all .3s;
}


#btn-twister1 {
  top: 5px;
  left: -1px;
}

/* #btn-twister2 {
  
}

#btn-twister3 {
  
}

#btn-twister4 {
  
} */

#btn-twister1:hover {
  
  opacity: 1;
}

#btn-twister2:hover {
  
  opacity: 1;
}

#btn-twister3:hover {
  
  opacity: 1;
}

#btn-twister4:hover {
  
  opacity: 1;
}